<div class="topnav">
    <a mat-button href="home">Home</a>
    <a mat-button href="search">Search</a>
    <a mat-button [matMenuTriggerFor]="account">Account</a>
    <mat-menu #account="matMenu">
        <a mat-menu-item href="changepassword">Change Password</a>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="organizator">Organizator</a>
    <mat-menu #organizator="matMenu">
        <a mat-menu-item href="user">Users</a>
        <a mat-menu-item [matMenuTriggerFor]="insert">Insert</a>
        <a mat-menu-item href="records">Records</a>
    </mat-menu>
    <mat-menu #insert="matMenu">
        <a mat-menu-item href="sport">Insert Sport</a>
        <a mat-menu-item href="tournaments">Insert Tournaments</a>
    </mat-menu>
    <a mat-button class="logoutLblPos" (click)='logout()'>Logout</a>
</div>
<div class="float-container">
    <div lass="table-wrapper" class="float-child">
        <table mat-table [dataSource] = "dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let user">{{user.username}}</td>
            </ng-container>
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef> Firstname </th>
                <td mat-cell *matCellDef="let user"> {{user.firstname}}</td>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Lastname </th>
                <td mat-cell *matCellDef="let user">{{user.lastname}}</td>
            </ng-container> 
            <ng-container matColumnDef="button1">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user">
                    <button (click) = 'accept(user)'>Accept</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="button2">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user">
                    <button (click) = 'deny(user)'>Delete</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
    </div>
</div>