<div class="topnav">
    <a mat-button href="home">Home</a>
    <a mat-button href="search">Search</a>
    <a mat-button [matMenuTriggerFor]="account">Account</a>
    <mat-menu #account="matMenu">
        <a mat-menu-item href="register" *ngIf='!logged'>Register</a>
        <a mat-menu-item href="changepassword">Change Password</a>
    </mat-menu>
    <div *ngIf='organizator'>
        <a mat-button [matMenuTriggerFor]="organizator">Organizator</a>
    <mat-menu #organizator="matMenu">
        <a mat-menu-item href="user">Users</a>
        <a mat-menu-item [matMenuTriggerFor]="insert">Insert</a>
        <a mat-menu-item href="records">Records</a>
    </mat-menu>
    <mat-menu #insert="matMenu">
        <a mat-menu-item href="sport">Insert Sport</a>
        <a mat-menu-item href="tournaments">Insert Tournaments</a>
    </mat-menu>
    </div>
    <div *ngIf='vodja'>
        <a mat-button [matMenuTriggerFor]="vodja">Vodja</a>
    <mat-menu #vodja="matMenu">
        <a mat-menu-item href="view">View Athletes</a>
        <a mat-menu-item [matMenuTriggerFor]="insert">Insert</a>
    </mat-menu>
    <mat-menu #insert="matMenu">
        <a mat-menu-item href="vodja">Individual</a>
        <a mat-menu-item href="team">Team</a>
    </mat-menu>
    </div>
    <div *ngIf='delegat'>
        <a mat-button href="delegat">Date and Time</a>
        <a mat-button [matMenuTriggerFor]="tournament">Tournaments</a>
    <mat-menu #tournament="matMenu">
        <a mat-menu-item href="tournament1">Tournament 1</a>
        <a mat-menu-item href="tournament2">Tournament 2</a>
        <a mat-menu-item href="tournament3">Tournament 3</a>
    </mat-menu>
    </div>
    <a mat-button class="logoutLblPos" href="login" *ngIf='!logged'>Login</a>
    <a mat-button class="logoutLblPos" (click)='logout()' target=_self *ngIf='logged'>Logout</a>
</div>
<div class="float-container">
    <form name="forma">
        <div class="float-child2">
            <table>
                <tr>
                    <td> Name:</td>
                    <td>
                        <input type="text" id="ime" name="ime" [(ngModel)]='name'>
                    </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>
                        <select class="select" name="izbor1" [(ngModel)]='country'>
                            <option *ngFor="let country of countries">
                                {{country}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Sport:</td>
                    <td>
                        <select class="select" name="izbor2" [(ngModel)]='sport' (change)="firstDropDownChanged($event.target.value)">
                            <option *ngFor="let sport of sports">
                                {{sport}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Discipline:</td>
                    <td>
                        <select  class="select" name="select3" [(ngModel)]='discipline'>
                            <option *ngFor="let discipline of disciplines">
                                {{discipline}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Sex:</td>
                    <td>
                        <input class="radio" type="radio" id="choice1" name="radio" value="M" [(ngModel)]='sex'>
                        <label for="choice1">M</label>
                        <input class="radio" type="radio" id="choice2" name="radio" value="Z" [(ngModel)]='sex'>
                        <label for="choice2">Z</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" class="cb" id="cb" name="checkbox" [(ngModel)]='wonM'>
                        <label for="cb">Only medal winners</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Search" (click)='search()'>
                    </td>
                </tr>
            </table>
        </div>
    </form> 

    <div class="float-child">
        <form name="forma">
            <h1>Athletes</h1>
            <table mat-table [dataSource] = "dataSource" class="mat-elevation-z8" class="tabela">
                <ng-container matColumnDef="athlete">
                    <th mat-header-cell *matHeaderCellDef> Athlete </th>
                    <td mat-cell *matCellDef="let athlete">
                        {{athlete.name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="sex">
                    <th mat-header-cell *matHeaderCellDef> Sex </th>
                    <td mat-cell *matCellDef="let athlete">
                        {{athlete.sex}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="sport">
                    <th mat-header-cell *matHeaderCellDef> Sport </th>
                    <td mat-cell *matCellDef="let athlete">
                        {{athlete.sport}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="discipline">
                    <th mat-header-cell *matHeaderCellDef> Discipline </th>
                    <td mat-cell *matCellDef="let athlete">
                        {{athlete.discipline}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef> Country </th>
                    <td mat-cell *matCellDef="let athlete">
                        {{athlete.country}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="medal">
                    <th mat-header-cell *matHeaderCellDef> Medal </th>
                    <td mat-cell *matCellDef="let athlete">
                        {{athlete.medal}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
            >
          </mat-paginator>
        </form>
    </div>
</div>