/* Add a black background color to the top navigation */
.topnav {
    background-color: #324960;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:  #4FC3A1;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4FC3A1;
    color: white;
  }
  
  *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    
    
  }
  h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
  }
  
 
  input[type="text"] {
    background: url('http://i.minus.com/ibhqW9Buanohx2.png') no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    color: black;
    height: 30px;
    margin: 10px 0 10px 0px;
    padding-left: 30px;
    transition: box-shadow 0.3s;
    width: 200px;
  }

  .select{
    margin: 10px 0 0 50px;
    align-content: center;
    width:150px; 
  }

  .select option{
    margin: 10px 0 0 50px;
    align-content: center;
    width:150px; 
  }

  .radio{
    margin: 10px 0 0 67px;
  }

  .cb{
    margin: 10px 0 0 128px;
  }

  .tabela{
    width: max-content;
  }

  .paginator{
    margin-right: 110px;
  }

  input[type="radio"]{
    left: 20px;
    width: 20px;
  }
  
  .toggle {
    background: url(http://i.minus.com/ibitS19pe8PVX6.png) no-repeat;
    display: block;
    height: 16px;
    margin-top: -20px;
    width: 87px;
    z-index: -1;
  }
  
  .forgot:hover { color: #3b3b3b }
  input[type="submit"] {
    width:200px;
    height:30px;
    margin: 40px 0 0 25px;
    display:block;
    font-family: "Helvetica", Helvetica;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #4FC3A1;
    padding-top:6px;
    margin: 0 0 0 0 px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #37a69b;
    background-image: linear-gradient(top,#4FC3A1,#3111);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:0px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
  }
  
  
  input[type="submit"]:active {
    top:3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
  }

  .table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.float-container {
  border: 3px solid #fff;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 2%;
}

.float-child {
  width: 50%;
  float: right;
  padding: 40px;
  padding-top: 10px;
  margin-top: 0;
} 

.float-child2 {
  width: 50%;
  float: left;
  padding: 20px;
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 350px;
  margin: 90px auto 0;
  width: 320px;
  margin-top: 7%;
} 

.mat-column-athlete {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-sport {
  width: 60px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-sex {
  width: 60px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-discipline {
  width: 60px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-medal {
  width: 60px;
  padding-right: 24px;
  text-align: center;
}

.logoutLblPos{
  position:fixed;
  right:0px;
}

.mat-menu-item{
  font-size: 15px;
}
