<div class="topnav">
    <a mat-button href="home">Home</a>
    <a mat-button href="search">Search</a>
    <a mat-button [matMenuTriggerFor]="account">Account</a>
    <mat-menu #account="matMenu">
        <a mat-menu-item href="changepassword">Change Password</a>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="vodja">Vodja</a>
    <mat-menu #vodja="matMenu">
        <a mat-menu-item href="view">View Athletes</a>
        <a mat-menu-item [matMenuTriggerFor]="in">Insert</a>
    </mat-menu>
    <mat-menu #in="matMenu">
        <a mat-menu-item href="vodja">Individual</a>
        <a mat-menu-item href="team">Team</a>
    </mat-menu>
    <a mat-button class="logoutLblPos" (click)='logout()'>Logout</a>
    <img  class="zastava" width="26px" height="22px" src="assets/{{user.country}}.png">
</div>
<div>
        <div class="login">
            <form name="forma">
            <output class="naslov">Insert Athlete</output>
            <input type="text" placeholder="Firstname and Lastname" id="name" name="name" [(ngModel)] = 'name'>  
            <select name="izbor" [(ngModel)] = 'sex'>
                <option value="M">Male</option>
                <option value="Z">Female</option>
            </select> 
            <select name="izbor1" [(ngModel)] = 'sport' (change)="firstDropDownChanged($event.target.value)">
                <option *ngFor="let sport of sports">
                    {{sport}}
                </option>
            </select>  
            <select name="izbor2" [(ngModel)] = 'discipline'>
                <option *ngFor="let discipline of disciplines">
                    {{discipline}}
                </option>
            </select>
            <input type="text" placeholder="Rank" id="rank" name="rank" [(ngModel)] = 'rank' *ngIf='tenis'>  
            <input type="submit" value="Insert" (click)='insert()'>
        </form>
        </div>  
</div>